.container-fluid{
  background: #00ced1;
  height: 20vh;
}

.logo{
  display: inline-block;
  position: absolute;
  margin-inline-start: 30px;
  padding-block-end: 50px;
}
img{
  width: 180px;
  height: 180px;
}
.more{
  margin-block-start: 55px;
}
