.container-fluid {
  background: #F5F5F5;
  height: 20vh;
}

.logo {
  display: inline-block;
  position: absolute;
  margin-inline-start: 30px;
  padding-block-end: 50px;
}

img {
  width: 230px;
  height: 140px;
}

.more {
  margin-block-start: 55px;
}

.rental-car {
  margin-block-start: 25px;
  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #002147;
  }
}
