<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <img src="assets/images/logo.png" slot="start" class="logo rounded float-left">
    </div>
    <div class="col-3 rental-car">

      <div class="content">
        <div class="content__container">
          <p class="content__container__text">
            Hello
          </p>

          <ul class="content__container__list">
            <li class="content__container__list__item">Guest !</li>
            <li class="content__container__list__item">Asaf !</li>
            <li class="content__container__list__item">Users !</li>
            <li class="content__container__list__item">Everybody</li>
          </ul>
        </div>
      </div>    </div>
    <div class="col-6 more">
      About US!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptates iure doloremque doloribus non dignissimos, quis deserunt veritatis, nam expedita accusamus nostrum placeat cupiditate officiis est eos soluta necessitatibus. Facilis?
    </div>
  </div>
</div>
