<app-header></app-header>
<app-menu></app-menu>
<div class="container-fluid">
  <br>
  <br>
  <div class="filter-box">
    <div class="row">
      <div class="col-3">
        <h4>Categories Filter:</h4>
        <ng-select class="custom" [items]="categories" bindLabel="catName" bindValue="catID"
          placeholder="filter by category" [(ngModel)]="catID" (clear)="clear()" (change)="filterCategories()">
        </ng-select>
      </div>
      <div class="col-3">
        <h4>Year Filter:</h4>
        <ng-select class="custom" [items]="fleetVehicles" bindLabel="carYear" bindValue="carYear"
          placeholder="filter by year" [(ngModel)]="yearID" (clear)="clear()" (change)="filterByYear()">
        </ng-select>
      </div>
      <div class="col-3">
        <h4>Gearbox Filter:</h4>
        <ng-select class="custom" [items]="fleetVehicles" bindLabel="gearbox" bindValue="gearbox"
          placeholder="filter by gearbox" [(ngModel)]="gearboxID" (clear)="clear()" (change)="filterByGearbox()">
        </ng-select>
      </div>
      <div class=" col-3">
        <h4>Manufacturer Filter:</h4>
        <ng-select class="custom" [items]="carsModels" bindLabel="cModelManufacturer" bindValue="cModelManufacturer"
          placeholder="filter by manufacturer" [(ngModel)]="manufacturerID" (clear)="clear()"
          (change)="filterByManufacturer()">
        </ng-select>
      </div>

    </div>
    <div class="row">
      <div class="col-3">
        <h4>Model Filter:</h4>
        <ng-select class="custom" [items]="carsModels" bindLabel="cModelName" bindValue="cModelName"
          placeholder="filter by model" [(ngModel)]="carModelID" (clear)="clear()" (change)="filterByCarModel()">
        </ng-select>
      </div>
      <div class="col-3">
        <h4 class="down">Start Date</h4>
        <input type="date" [(ngModel)]="startDate" (onChange)="filterByStartDate()">
      </div>
      <div class="col-3">
        <h4 class="down">End Date</h4>
        <input type="date" [(ngModel)]="endDate" (onChange)="filterByEndDate()">
      </div>
      <div class="col-3">
        <div class="search-hero">
          <h4 class="down">Search Text</h4>

          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Start searching for a find car for u">
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover cars">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Gearbox</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">More Details</th>
        <th scope="col">Order</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of fleetVehiclesToShow | filter:searchText">
        <th scope="row">{{car.id}}</th>
        <td>{{car.carModel.cModelManufacturer}} {{car.carModel.cModelName}} </td>
        <td>{{car.gearbox}}</td>
        <td>{{car.carModel.cModelCat.catName}}</td>
        <td>{{car.carYear}}</td>
        <td (click)="open(content, car.id)">
          <span class="material-icons">
            trending_up
          </span>
        </td>
        <td routerLink="/search-car/order/{{car.id}}">
          <span class="material-icons">
            local_mall
          </span>
        </td>
      </tr>

    </tbody>

  </table>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Car Full Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-4">
          <span class="prop">VIN:</span>{{car.vin}}
        </div>
        <div class="col-4">
          <span class="prop">Category:</span> {{car.carModel.cModelCat.catName}}
        </div>
        <div class="col-4">
          <span class="prop">Type:</span> {{car.carModel.cModelManufacturer}} {{car.carModel.cModelName}}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <span class="prop">Color:</span> {{car.color}}
        </div>
        <div class="col-4">
          <span class="prop">Purchase Date:</span> {{car.purchaseDate | date}}
        </div>
        <div class="col-4">
          <span class="prop">Year:</span> {{car.carYear}}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <span class="prop">Mileage:</span> {{car.mileage}}
        </div>
        <div class="col-4">
          <span class="prop">Gearbox:</span> {{car.gearbox}}
        </div>
        <div class="col-4">
          <span class="prop">Available at:</span> {{car.branch.name}}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <img src="{{car.carImgName}}">
        </div>
        <div class="col-3 offset-1 top">
          Vehicle available: {{car.toUsed}}
          <br><br>

        </div>
        <div class="col-3 top">
          Price: <span class="price">{{car.carModel.priceDay}}₪</span>
          <br>
          Price of <u>Late Day</u>: <span class="price">{{car.carModel.priceLateDay}}₪</span>
        </div>
      </div>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Order now</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Return</button>
    </div>
  </ng-template>


</div>
<app-footer></app-footer>
