<ul>
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/search-car" routerLinkActive="active">Search Car</a></li>
  <li><a routerLink="/order" routerLinkActive="active">Order</a></li>
  <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  <div class="register-login">
    <li>
      <img src="assets/images/register-icon.png">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li>
      <img src="assets/images/login-icon.png">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </div>
</ul>
