body {
  font-family: 'Lato', sans-serif
}

h1 {
  margin-bottom: 30px
}

label {
  color: #333
}
img{
  width: 250px;
  height: auto;
}
.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-block-end: 15px;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
  width: 200px;
}

.ng-select.custom .ng-select-container {
  min-height: 0px;
  border-radius: 0;
}


.error {
  position: absolute;
  padding-inline-start: 5px;
  color: red;
  font-size: xx-small;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 10px;
}
