.top{
  padding-block-start: 20px;
}

.ng-select.custom {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
  width: 70px;
}
.material-icons{
  padding-inline-start: 15px;
}
.prop{
  color: Blue;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
}
.modal-title{
  color:skyblue;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
