<div class="container-fluid">
  <div class="row">
    <div class="col-12 nav-col">
      <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link " routerLink="/home" routerLinkActive="active">Home<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/search-car" routerLinkActive="active">Search Car</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>

          </ul>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <img *ngIf="!user" src="assets/images/register.png">
            <li *ngIf="!user" class="nav-item">
              <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>

            <img *ngIf="!user" src="assets/images/login.png">
            <li *ngIf="!user" class="nav-item ">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>

            <ng-container *ngIf="user">
              <span class="welcome">Hello <span class="name">{{user.fullName}}</span>, Welcome!</span>
            </ng-container>
            <!-- <img *ngIf="user" src="assets/images/logout.png"> -->
            <li *ngIf="user" class="nav-item ">
              <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
            </li>

            <li *ngIf="checkPanelPermissions()" class="nav-item">
              <a class="nav-link" routerLink="/panel" routerLinkActive="active">Panel</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>

</div>
