.container-fluid {
  //padding: 0;
  margin: 0;
}

.navbar {
  background-color: #002147 !important;
}

.nav-col {
  padding: 0;
}

img {
  position: relative;
  width: 25px;
  height: auto;
}

li {
  a {
    color: white !important;
  }
}

li:hover {
  background-color: gray;
}

.navbar-nav {
  padding-inline-end: 20px;
}



.welcome {
  padding-block-start: 8px;
  padding-inline-end: 5px;
  color: white;
  font-size: 18px;
  .name{
    text-decoration: underline;
  }
}

